---
---

<button is="nav-button" class="group flex lg:hidden flex-col gap-2 ml-auto" aria-label="Ouvrir le menu">
        <span class="relative block h-0.5 w-8 bg-white group-aria-expanded:hidden"></span>
        <span class="relative block h-0.5 w-8 bg-white group-aria-expanded:hidden"></span>
        <span class="relative block h-0.5 w-8 bg-white group-aria-expanded:hidden"></span>
        <span class="relative hidden group-aria-expanded:block h-0.5 w-8 bg-white rotate-45 top-1"></span>
        <span class="relative hidden group-aria-expanded:block h-0.5 w-8 bg-white -rotate-45 -top-1.5"></span>
</button>

<script>
    import { NavButton } from "@libs/components/NavButton";
    customElements.define('nav-button', NavButton, { extends: 'button' });
</script>