---
interface Props {
    href: string;
    target?: astroHTML.JSX.HTMLAttributeAnchorTarget;
}
const { href, target } = Astro.props as Props;
---

<li class="hover:text-sky-400 transition-colors">
    <a href={href} target={target}>
        <slot />
    </a>
</li>