---
interface Props {
    mandate: string;
}
const { mandate } = Astro.props;
---

<section class="relative max-w-8xl space-y-20">
    <div class="flex flex-col items-center min-w-[1px] max-w-full">
        <div class="text-center space-y-2">
            <h3 class="text-3xl tracking-tighter font-bold text-white">
                Mandat {mandate}
            </h3>
            <span class="flex grow h-[1px] bg-gradient-to-r from-transparent via-white to-transparent"></span>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-white">
        <slot />
    </div>
</section>