---
import Icon from '@components/Icon.astro';

interface Props {
    dragSpeed?: number;
    startIndex?: number;
}
const { dragSpeed, startIndex } = Astro.props;
---

<div is="team-carousel" class="relative mt-16 md:mt-20 overflow-hidden w-screen py-16 px-4" data-dragspeed={dragSpeed} data-startindex={startIndex}>
    <button data-name="left" class="group absolute top-40 left-1/12 rounded-full border border-neutral-700 lg:backdrop-blur-sm hover:-translate-x-2 duration-500 px-3 py-5 sm:py-6 z-40">
        <Icon className="w-8 sm:w-12 h-auto stroke-[1.5] stroke-sky-400" name="left-arrow" />
    </button>
    <ul class="relative flex gap-4 transition-transform duration-300">
        <slot />
    </ul>
    <button data-name="right" class="group absolute top-40 right-1/12 rounded-full border border-neutral-700 lg:backdrop-blur-sm hover:translate-x-2 duration-500 px-3 py-5 sm:py-6 z-40">
        <Icon className="w-8 sm:w-12 h-auto stroke-[1.5] stroke-sky-400" name="right-arrow" />
    </button>
</div>

<script>
    class TeamCarousel extends HTMLDivElement {
        startIndex: number = 0;
        currentIndex: number = 0;
        cards: Array<HTMLLIElement>;
        dragSpeed: number = 0.3;
        offset: number = 0;
        gap: number = 0;
        carousel: HTMLUListElement;

        constructor() {
            super();

            this.carousel = this.querySelector('ul')!;
            this.cards = Array.from(this.querySelectorAll('li'));
            this.dragSpeed = parseFloat(this.dataset.dragspeed ?? '0.3');
        }

        connectedCallback() {
            this.currentIndex = parseInt(this.dataset.startindex ?? '0'); // Set the current index to the start index given in the HTML
            this.gap = parseFloat(window.getComputedStyle(this.carousel).gap.replace('px', '')) || 0; // Get the gap between the cards
            this.offset = this.carousel.getBoundingClientRect().width/2 - (this.cards[0].offsetWidth + this.gap)/2; // Calculate the offset to center the cards
            this.cards.forEach((card, index) => {
                card.style.transitionDuration = `${this.dragSpeed}s`;
                card.addEventListener('click', () => {
                    this.updateCardPositions(index);
                });
            });
            this.querySelector('[data-name="left"]')!.addEventListener('click', () => {
                this.updateCardPositions(this.currentIndex - 1);
            });
            this.querySelector('[data-name="right"]')!.addEventListener('click', () => {
                this.updateCardPositions(this.currentIndex + 1);
            });
            this.updateCardPositions(this.currentIndex);

            window.addEventListener('resize', this.handleResize.bind(this));
        }

        handleResize() {
            this.offset = this.carousel.getBoundingClientRect().width/2 - (this.cards[0].offsetWidth + this.gap)/2; // Calculate the offset to center the cards
            this.updateCardPositions(this.currentIndex);
        }

        updateCardPositions(target: number) {
            if (target < 0 || target >= this.cards.length) return; // Handle invalid target index
            const diff = this.startIndex - target;
            const cardWidth = this.cards[0].offsetWidth;
            this.cards[this.currentIndex].style.transform = 'scale(1)';
            this.carousel.style.transform = `translateX(${diff * (cardWidth + this.gap) + this.offset}px)`;
            this.cards[target].style.transform = 'scale(1.25)';
            this.currentIndex = target;
        }
    }

    customElements.define('team-carousel', TeamCarousel, {extends: 'div'});
</script>