---
import { getCollection } from "astro:content";
import { ui } from "@i18n/ui";
import Layout from "@layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const legals = await getCollection('legal');

    return Object.keys(ui).flatMap((langCode: string) => {
        return legals.map((legal) => {
            return {
            params: {
                lang: langCode,
                slug: legal.slug
            },
            props: {
                legal,
            },
        };
        });
    });
};

interface Props {
    legal: CollectionEntry<'legal'>;
};
const { legal } = Astro.props;
const { Content } = await legal.render();
---

<Layout title={`MiNET - ${legal.data.title}`}>
    <main class="py-20 px-2 mt-20 overflow-y-hidden">
        <section class="relative flex flex-col items-center gap-40 text-white max-w-8xl mx-auto">
            <div class="flex flex-col items-center gap-4">
                <h1 class="text-5xl md:text-6xl font-bold text-center">{legal.data.title}</h1>
                <p class="text-normal md:text-lg italic text-center">Version en vigueur au {new Date().toLocaleDateString()}</p>
            </div>
            <div class="prose md:prose-lg prose-invert prose-h2:font-medium max-md:prose-h2:text-xl md:text-justify max-w-none">
                <Content />
            </div>
        </section>
    </main>
</Layout>