---
import { getCollection, getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import TutorialsLayout from "@layouts/TutorialsLayout.astro";

export async function getStaticPaths() {
    const tutorials = await getCollection("tutoriels");
    return tutorials.map((tutorial) => {
        return {
            params: {
                slug: tutorial.slug,
            },
            props: {
                tutorial,
            },
        };
    });
};

interface Props {
    tutorial: CollectionEntry<'tutoriels'>;
};
const { tutorial } = Astro.props;
const category = await getEntry("categories", tutorial.data.category.id);
const { Content } = await tutorial.render();
---

<TutorialsLayout title={tutorial.data.title} tutorial={tutorial}>
    <div class="flex flex-col px-6 md:px-12 pt-6 pb-16 mx-auto w-full max-w-5xl">
        {/* Breadcrumbs */}
        <div class="hidden md:flex items-center gap-2">
            <div class="grow leading-5 overflow-hidden whitespace-nowrap">
                <div class="flex items-center text-sm gap-1">
                    <a class="flex items-center text-neutral-600 hover:text-white" href="/tutoriels/">
                        <span>
                            Tutoriels
                        </span>
                        <span class="flex items-center justify-center ml-1">
                            <svg class="w-4 h-4 shrink-0 fill-none stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"><path d="M9 18l6-6-6-6"></path></svg>
                        </span>
                    </a>
                    <span class="text-neutral-200">
                        {tutorial.data.title}
                    </span>
                </div>
            </div>
        </div>
        {/* Title */}
        <div class="flex mt-8 mb-4">
            <h1 class="relative inline-flex items-center text-neutral-100 text-2xl md:text-5xl leading-[26px] md:leading-[3.5rem] tracking-tighter font-semibold">
                <a class="peer border-b border-transparent hover:border-neutral-100 mr-2.5 break-words" href="#">
                    {tutorial.data.title}
                </a>
                <span class="relative text-center align-middle invisible peer-hover:visible">
                    <svg class="w-auto h-7 fill-none stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"><path d="M10 13a5 5 0 007.54.54l3-3a5 5 0 00-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 00-7.54-.54l-3 3a5 5 0 007.07 7.07l1.71-1.71"></path></svg>
                </span>
            </h1>
        </div>
        {/* Content */}
        <div class="prose md:prose-lg prose-invert prose-h2:font-medium max-md:prose-h2:text-xl md:text-justify max-w-none">
            <Content />
        </div>
    </div>
</TutorialsLayout>