---
import CardSkew from "@components/CardSkew.astro";
import TutorialCard from "@components/TutorialCard.astro";
import Layout from "@layouts/Layout.astro";
import { categories } from "@libs/categories";
---

<Layout title="MiNET - Tutoriels">
    <main class="py-20 px-2 mt-20 text-white overflow-hidden">
        <div class="flex flex-col items-center gap-20 max-w-8xl mx-auto">
            <h1 class="text-3xl md:text-4xl text-center font-bold my-6">Tout ce dont vous avez besoin de savoir pour utiliser nos services.</h1>
            <CardSkew rounded="2xl" overflow>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                    {categories.map(category => (
                        <TutorialCard
                            icon={category.icon}
                            title={category.name}
                            description={category.description}
                            href={`/tutoriels/${category.slug}`}
                        />
                    ))}
                </div>
            </CardSkew>
        </div>
    </main>
</Layout>