---
import ClubCard from "@components/ClubCard.astro";
import Layout from "@layouts/Layout.astro";

import CellLogoReference from "~/assets/clubs/logo_cell.png";
import ClubCodeLogoReference from "~/assets/clubs/logo_club_code.png";
import GamINTLogoReference from "~/assets/clubs/logo_gamint.png";
import HackademINTLogoReference from "~/assets/clubs/logo_hackademint.png";
---

<Layout title="MiNET - Nos Clubs">
    <main class="py-20 mt-20">
        <section class="relative flex flex-col items-center gap-40 text-white max-w-8xl mx-auto">
            <h1 class="text-6xl font-bold text-center">Nos clubs</h1>
            <div class="flex items-center gap-20">
                <ClubCard image={CellLogoReference} name="Cell" color="bg-purple-400/30" />
                <ClubCard image={ClubCodeLogoReference} name="Club Code" color="bg-teal-400/30" />
                <ClubCard image={GamINTLogoReference} name="GamINT" color="bg-sky-400/30" />
                <ClubCard image={HackademINTLogoReference} name="HackademINT" color="bg-orange-400/30" />
            </div>
        </section>
    </main>
</Layout>