---
import Globe from '@components/Globe.astro';
import TimelineCard from '@components/TimelineCard.astro';
import TypingCursor from '@components/TypingCursor.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="MiNET">
	<main class="py-20 px-2 mt-20 overflow-x-hidden">
		<div class="flex flex-col items-center gap-40">
			<section class="relative flex flex-col lg:flex-row items-center gap-10 text-white w-full max-w-8xl">
				<div class="flex flex-col gap-12 text-center lg:text-start z-10 w-full">
					<h1 class="text-4xl lg:text-6xl font-extrabold tracking-tighter leading-tight">
						Nous sommes<br />
						<span class="inline-flex items-center gap-2">
							<TypingCursor strings={["le FAI", "l'hébergeur web"]} />
							<span class="hidden lg:block">étudiant</span>
						</span><br />
						<span class="lg:hidden">étudiant </span>de <span class="lg:hidden"><br /></span>Télécom SudParis
					</h1>
					<h2 class="text-xl lg:text-2xl font-normal text-neutral-500 tracking-tight max-w-3xl">
						MiNET est l'association étudiante loi de 1901 qui gère le réseau informatique de la résidence étudiante de Télécom SudParis et d'Institut Mines-Télécom Business School depuis 1991.
					</h2>
					<div class="flex flex-col lg:flex-row gap-8 self-center text-center text-sm lg:text-lg font-medium w-full">
						<div class="basis-1/2 rounded-lg bg-white p-[1px]">
							<a class="inline-block w-full rounded-lg bg-white hover:bg-black text-black hover:text-white px-4 py-3 duration-200" href="https://payment.minet.net/" target="_blank">
								Cotiser
							</a>
						</div>
						<div class="basis-1/2 rounded-lg bg-gradient-to-br from-blue-500 to-cyan-400 p-[1px]">
							<a class="inline-block w-full rounded-lg bg-black hover:bg-transparent text-white hover:text-black px-4 py-3 duration-200" href="#nous-découvrir">
								Nous découvrir
							</a>
						</div>
					</div>
				</div>
				<div class="relative w-full aspect-square m-auto">
					<div class="absolute -top-20 -right-80 lg:-right-60 w-256 h-256">
						<Globe />
					</div>
				</div>
			</section>
			<section class="relative flex flex-col items-center border-t border-b border-neutral-700 bg-neutral-900 w-screen -mt-40 lg:mt-20">
				<div class="flex flex-col md:flex-row items-center py-6 w-full max-w-8xl">
					<div class="flex-grow text-center py-8 md:px-8 border-b-1 md:border-b-0 md:border-r-1 border-neutral-700 w-full lg:w-auto">
						<p class="text-4xl lg:text-6xl leading-tight tracking-tighter font-bold bg-clip-text text-transparent bg-gradient-to-b from-white to-neutral-300">
							+800
						</p>
						<span class="uppercase text-sm tracking-tighter text-neutral-400 font-semibold">
							adhérents
						</span>
					</div>
					<div class="flex-grow text-center py-8 md:px-8 border-b-1 md:border-b-0 md:border-r-1 border-neutral-700 w-full lg:w-auto">
						<p class="text-4xl lg:text-6xl leading-tight tracking-tighter font-bold bg-clip-text text-transparent bg-gradient-to-b from-white to-neutral-300">
							10 Gb/s
						</p>
						<span class="uppercase text-sm tracking-tighter text-neutral-400 font-semibold">
							de débit
						</span>
					</div>
					<div class="flex-grow text-center py-8 md:px-8 border-b-1 md:border-b-0 md:border-r-1 border-neutral-700 w-full lg:w-auto">
						<p class="text-4xl lg:text-6xl leading-tight tracking-tighter font-bold bg-clip-text text-transparent bg-gradient-to-b from-white to-neutral-300">
							+15
						</p>
						<span class="uppercase text-sm tracking-tighter text-neutral-400 font-semibold">
							serveurs physiques
						</span>
					</div>
					<div class="flex-grow text-center py-8 md:px-8">
						<p class="text-4xl lg:text-6xl leading-tight tracking-tighter font-bold bg-clip-text text-transparent bg-gradient-to-b from-white to-neutral-300">
							98 %
						</p>
						<span class="uppercase text-sm tracking-tighter text-neutral-400 font-semibold">
							d'uptime en 2023
						</span>
					</div>
				</div>
			</section>
			<section id="nous-découvrir" class="relative max-w-8xl">
				<div class="flex flex-col items-center gap-10">
					<span class="w-[1px] h-32 pr-[1px] bg-gradient-to-b from-white/10 to-white"></span>
					<div class="flex items-center gap-10">
						<span class="w-32 h-[1px] bg-gradient-to-r from-white/10 to-white"></span>
						<h1 class="text-6xl text-white/80 font-bold">
							Un FAI étudiant
						</h1>
						<span class="w-32 h-[1px] bg-gradient-to-l from-white/10 to-white"></span>
					</div>
				</div>
				<div class="relative flex flex-col max-w-5xl mt-20">
					<div class="flex">
						<div class="flex flex-col items-center px-20">
							<span class="w-3 h-3 rounded-full mx-1 shadow-[0_0_0_1.5px_rgb(255_255_255_/_30%)_inset]"></span>
							<span class="flex grow shrink w-[1px] border-l border-dashed border-sky-400/50"></span>
						</div>
						<div class="py-2">
							<TimelineCard title="Un réseau de plus de 800 adhérents">
								Le réseau de MiNET est composé de plus de 800 adhérents, dont 600 résidents de la résidence étudiante de Télécom SudParis et d'Institut Mines-Télécom Business School.
							</TimelineCard>
						</div>
					</div>
					<div class="flex">
						<div class="flex flex-col items-center px-20">
							<span class="w-3 h-3 rounded-full mx-1 shadow-[0_0_0_1.5px_rgb(255_255_255_/_30%)_inset]"></span>
							<span class="flex grow shrink w-[1px] border-l border-dashed border-sky-400/50"></span>
						</div>
						<div class="py-2">
							<TimelineCard title="Un réseau de plus de 800 adhérents">
								Le réseau de MiNET est composé de plus de 800 adhérents, dont 600 résidents de la résidence étudiante de Télécom SudParis et d'Institut Mines-Télécom Business School.
							</TimelineCard>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
</Layout>