---
import Layout from '@layouts/Layout.astro';
---

<Layout title="MiNET">
	<main class="py-20 mt-20">
		<div class="flex flex-col items-center gap-40">
			<section class="relative flex flex-col items-center gap-20 text-white max-w-8xl">
				
			</section>
		</div>
	</main>
</Layout>