---
import { getLangFromUrl } from "@i18n/utils";
import Icon from "@components/Icon.astro";

const lang = getLangFromUrl(Astro.url);
---

<div class="flex items-center ml-4">
    <a class="[&:lang(fr)]:hidden" href={Astro.url.href.replace(lang, 'fr')}>
        <Icon className="w-10 h-16 fill-none" name="fr-flag" />
    </a>
    <a class="[&:lang(en)]:hidden" href={Astro.url.href.replace(lang, 'en')}>
        <Icon className="w-10 h-16 fill-none" name="en-flag" />
    </a>
</div>