---
import Icon from '@components/Icon.astro';
import type { IconsDict } from "@libs/icons"

interface Props {
    title: string;
    icon: keyof typeof IconsDict;
}
const { title, icon } = Astro.props
---

<div class="relative flex">
    <span class="absolute top-0 left-0 px-8 translate-x-6 lg:translate-x-26 translate-y-1.5 border-t border-dashed border-white/50"></span>
    <div class="flex flex-col items-center gap-2 pr-20 lg:pl-20">
        <span class="w-3 h-3 rounded-full mx-1 shadow-[0_0_0_1.5px_rgb(255_255_255_/_30%)_inset]"></span>
        <span class="flex grow shrink w-[1px] border-l border-dashed border-white/50"></span>
    </div>
    <div class="relative flex flex-col justify-between gap-4 text-start py-4 max-w-xl -translate-y-7">
        <div class="p-2 rounded-lg bg-white/5 w-fit">
            <Icon name={icon} className="w-6 h-6 fill-white/30" />
        </div>
        <h1 class="text-2xl font-medium text-white">
            {title}
        </h1>
        <p class="text-base text-white/50">
            <slot />
        </p>
    </div>
</div>