---
import Icon from '@components/Icon.astro';
import type { IconsDict } from '@libs/icons'

interface Props {
    icon: keyof typeof IconsDict;
    title: string;
    description: string;
    href: string;
}
const { icon, title, description, href } = Astro.props;
---

<a class="flex flex-col items-center gap-10 bg-neutral-800 border border-neutral-700 hover:border-sky-400 rounded-2xl hover:scale-110 duration-300 p-8 h-[calc(100%-1px)]" href={href}>
    <Icon className="w-8 h-8 fill-current" name={icon} />
    <h2 class="text-2xl font-bold -mt-8">{title}</h2>
    <p class="italic text-opacity-75">{description}</p>
</a>