---
import { getStaticTranslations, getLangFromUrl, useTranslations } from "@i18n/utils";
import CardSkew from "@components/ui/CardSkew.astro";
import DiscoverCarousel from "@components/home/DiscoverCarousel.astro";
import Icon from "@components/ui/Icon.astro";
import JoinUsCard from "@components/home/JoinUsCard.astro";
import TypingCursor from '@components/ui/TypingCursor.astro';
import Layout from '@layouts/Layout.astro';

export function getStaticPaths() {
	return getStaticTranslations();
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="MiNET">
	<main class="py-20 px-2 mt-20 overflow-x-hidden">
		<div class="flex flex-col items-center gap-40">
			<section class="relative flex flex-col lg:flex-row items-center gap-10 text-white w-full max-w-8xl">
				<div class="flex flex-col gap-12 text-center lg:text-start z-10 w-full">
					<h1 class="text-4xl lg:text-6xl font-extrabold tracking-tighter leading-tight">
						{t('index.title.begin')}<br />
						<span class="inline-flex items-center gap-2">
							<span class="hidden aria-hidden:hidden lg:block mr-2" aria-hidden={lang === 'fr'}>{t('index.title.student')}</span>
							<TypingCursor strings={t('index.title.carousel') as readonly string[]} />
							<span class="hidden aria-hidden:hidden lg:block" aria-hidden={lang === 'en'}>{t('index.title.student')}</span>
						</span><br />
						{t('index.title.end')}
					</h1>
					<h2 class="text-xl lg:text-2xl font-normal text-neutral-500 tracking-tight max-w-3xl">
						{t('index.subtitle')}
					</h2>
					<div class="flex flex-col lg:flex-row gap-8 self-center text-center text-sm lg:text-lg font-medium w-full">
						<div class="basis-1/2 rounded-lg bg-white p-[1px]">
							<a class="inline-block w-full rounded-lg bg-white hover:bg-black text-black hover:text-white px-4 py-3 duration-200" href="https://payment.minet.net/" target="_blank">
								{t('index.subscribe-button')}
							</a>
						</div>
						<div class="basis-1/2 rounded-lg bg-gradient-to-br from-blue-500 to-cyan-400 p-[1px]">
							<a class="inline-block w-full rounded-lg bg-black hover:bg-transparent text-white hover:text-black px-4 py-3 duration-200" href="#nous-découvrir">
								{t('index.discover-button')}
							</a>
						</div>
					</div>
				</div>
				<div class="relative w-full aspect-square m-auto">
					<div class="z-0 absolute top-0 left-0 translate-x-1/4 translate-y-1/4 rounded-full w-2/3 h-2/3 bg-blue-950 blur-pulse-after">
						<div class="--10 absolute inset-0 w-full h-full rounded-full bg-sky-600 animate-pulse-circle lur-pulse-after"></div>
					</div>
					<Icon className="absolute top-0 left-0 translate-x-1/2 translate-y-1/2 w-1/2 h-1/2" name="minet" />
				</div>
			</section>
			<section class="relative flex flex-col items-center border-t border-b border-neutral-700 bg-neutral-900 w-screen -mt-40 lg:mt-20">
				<div class="flex flex-col md:flex-row items-center py-6 w-full max-w-8xl">
					<div class="flex-grow text-center py-8 md:px-8 border-b-1 md:border-b-0 md:border-r-1 border-neutral-700 w-full lg:w-auto">
						<p class="text-4xl lg:text-6xl leading-tight tracking-tighter font-bold bg-clip-text text-transparent bg-gradient-to-b from-white to-neutral-300">
							+800
						</p>
						<span class="uppercase text-sm tracking-tighter text-neutral-400 font-semibold">
							{t('index.statbar.members')}
						</span>
					</div>
					<div class="flex-grow text-center py-8 md:px-8 border-b-1 md:border-b-0 md:border-r-1 border-neutral-700 w-full lg:w-auto">
						<p class="text-4xl lg:text-6xl leading-tight tracking-tighter font-bold bg-clip-text text-transparent bg-gradient-to-b from-white to-neutral-300">
							10 Gb/s
						</p>
						<span class="uppercase text-sm tracking-tighter text-neutral-400 font-semibold">
							{t('index.statbar.speed')}
						</span>
					</div>
					<div class="flex-grow text-center py-8 md:px-8 border-b-1 md:border-b-0 md:border-r-1 border-neutral-700 w-full lg:w-auto">
						<p class="text-4xl lg:text-6xl leading-tight tracking-tighter font-bold bg-clip-text text-transparent bg-gradient-to-b from-white to-neutral-300">
							+15
						</p>
						<span class="uppercase text-sm tracking-tighter text-neutral-400 font-semibold">
							{t('index.statbar.servers')}
						</span>
					</div>
					<div class="flex-grow text-center py-8 md:px-8">
						<p class="text-4xl lg:text-6xl leading-tight tracking-tighter font-bold bg-clip-text text-transparent bg-gradient-to-b from-white to-neutral-300">
							98 %
						</p>
						<span class="uppercase text-sm tracking-tighter text-neutral-400 font-semibold">
							{t('index.statbar.uptime')}
						</span>
					</div>
				</div>
			</section>
			<section id="nous-découvrir" class="relative max-w-8xl">
				<div class="flex flex-col items-center gap-10">
					<span class="w-[1px] h-32 pr-[1px] bg-gradient-to-b from-white/10 to-white"></span>
					<div class="flex items-center gap-10">
						<span class="hidden md:block w-32 h-[1px] bg-gradient-to-r from-white/10 to-white"></span>
						<h1 class="text-5xl md:text-6xl text-white/80 font-bold">
							{t('index.discover.title')}
						</h1>
						<span class="hidden md:block w-32 h-[1px] bg-gradient-to-l from-white/10 to-white"></span>
					</div>
				</div>
				<DiscoverCarousel />
			</section>
			<section class="relative max-w-8xl">
				<div class="flex items-center justify-center gap-10">
					<span class="hidden md:block w-32 h-[1px] bg-gradient-to-r from-white/10 to-white"></span>
					<h1 class="text-5xl md:text-6xl text-white/80 font-bold">
						{t('index.join.title')}
					</h1>
					<span class="hidden md:block w-32 h-[1px] bg-gradient-to-l from-white/10 to-white"></span>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 justify-between mt-20">
					<JoinUsCard number={1} title={t('index.join.card0.title')}>
						{t('index.join.card0.content')}
					</JoinUsCard>
					<JoinUsCard number={2} title={t('index.join.card1.title')}>
						{t('index.join.card1.content')}
					</JoinUsCard>
					<JoinUsCard number={3} title={t('index.join.card2.title')}>
						{t('index.join.card2.content')}
					</JoinUsCard>
				</div>
				<div class="flex flex-col items-center gap-10 mt-20">
					<div class="flex items-center gap-10">
						<span class="hidden md:block w-32 h-[1px] bg-gradient-to-r from-white/10 to-white"></span>
						<span class="hidden md:block w-32 h-[1px] bg-gradient-to-l from-white/10 to-white"></span>
					</div>
					<span class="w-[1px] h-32 pr-[1px] bg-gradient-to-t from-white/10 to-white"></span>
				</div>
			</section>
		</div>
	</main>
</Layout>