---
import { getEntry } from "astro:content";
import { ui } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import Icon from "@components/ui/Icon.astro";
import SearchButton from "@components/tutorials/SearchButton.astro";
import TutorialsNav from "@components/tutorials/TutorialsNav.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
    tutorial?: CollectionEntry<"tutoriels">; // Selected tutorial
}
const { tutorial } = Astro.props;
const category = tutorial ? await getEntry(tutorial.data.category) : undefined;

const { lang } = Astro.params;
const t = useTranslations(lang as keyof typeof ui);
---

<div is="mobile-sidebar" class="xl:hidden z-100 fixed inset-x-0 bottom-0 flex items-center justify-center border-t border-neutral-800 px-4 py-3 bg-black max-w-screen">
    <button class="group flex grow justify-center gap-2.5 p-2 text-neutral-200 border rounded-lg border-neutral-800" aria-selected="false">
        <Icon class="w-4 h-4 shrink-0 fill-none stroke-current text-current stroke-[1.5]" name="reverse-enter-arrow" />
        <span class="flex grow text-sm font-medium whitespace-nowrap text-ellipsis overflow-hidden">
            {category ? category.data.name : t('tutorials.sidebar.search')}
        </span>
        <span class="flex transition-transform group-aria-selected:rotate-180">
            <Icon class="w-4 h-4 fill-none stroke-current text-current stroke-[1.5]" name="down-chevron" />
        </span>
    </button>
    <div class="hidden aria-expanded:block fixed inset-x-0 bottom-[63px] px-4 py-3 border-t border-neutral-800 bg-black transition-all duration-500 max-w-screen max-h-4/5 overflow-y-auto" aria-expanded="false">
        <TutorialsNav tutorial={tutorial} />
        <SearchButton />
    </div>
</div>

<script>
    import { MobileSidebar } from "@libs/components/MobileSidebar";
    customElements.define("mobile-sidebar", MobileSidebar, { extends: "div" });
</script>