---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Icon from "@components/ui/Icon.astro";
import KBD from "@components/ui/KBD.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<button is="search-button" class="flex items-center justify-between w-full h-9 cursor-text rounded-md bg-neutral-900">
    <div class="flex items-center gap-3">
        <Icon class="w-4.5 h-4.5 ml-2 text-neutral-500 fill-none stroke-current stroke-[1.5]" name="search" />
        <span class="text-neutral-500 ml-3">{t('tutorials.search.placeholder')}</span>
    </div>
    <div class="hidden lg:flex items-center mr-1.5">
        <KBD keys={['Ctrl', 'K']} size="text-xs" />
    </div>
</button>

<script>
    import { SearchButton } from "@libs/components/search/SearchButton";
    customElements.define('search-button', SearchButton, { extends: 'button' });
</script>