---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Icon from "@components/ui/Icon.astro";
import KBD from "@components/ui/KBD.astro";
import { ui, defaultLang } from "@i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const i18n = Object.keys(ui[lang]).filter((key) => key.startsWith('tutorials.search.modal.')).reduce((acc, key) => {
    acc[key] = t(key as keyof typeof ui[typeof defaultLang]) as string;
    return acc;
}, {} as Record<string, string>);
---

<div is="search-modal" class="relative z-50 opacity-0 transition-opacity duration-200" data-i18n={JSON.stringify(i18n)} data-lang={lang}>
    <div data-name="overlay" class="fixed inset-0 bg-black/80"></div>
    <div class="fixed top-1/5 inset-x-0 lg:left-1/2 lg:-translate-x-1/2 flex flex-col border rounded-lg border-neutral-700 bg-neutral-950 p-2 lg:w-160">
        <div class="flex items-center gap-2">
            <input class="text-xl text-neutral-400 placeholder:text-neutral-700 bg-transparent outline-none px-4 py-2 w-full" placeholder={t('tutorials.search.placeholder') as string} />
            <button class="text-neutral-500">
                <Icon class="w-5 h-5 stroke-current text-current stroke-[1.5]" name="close" />
            </button>
            <KBD keys={["Esc"]} size="text-xs"/>
        </div>
        <span class="w-full h-[1px] bg-neutral-700 mb-2 overflow-visible"></span>
        <div class="text-xs text-neutral-500 pl-2 py-2 mb-2 h-6 text-ellipsis overflow-hidden">
            <span data-name="subtitle"></span>
        </div>
        <div class="will-change-height transition-height overflow-y-auto overflow-x-hidden max-h-80">
            <ul class="flex flex-col gap-1"></ul>
        </div>
    </div>
</div>

<script>
    import { SearchModal } from "@libs/components/search/SearchModal";
    customElements.define('search-modal', SearchModal, { extends: 'div' });
</script>