---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Icon from "@components/ui/Icon.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col gap-2 mt-10">
    <div class="text-sm font-semibold">
        {t('footer.language')}
    </div>
    <div class="flex items-center gap-4">
        <a aria-label="Changer la langue en français" href={Astro.url.pathname.replace(lang, 'fr')}>
            <Icon class="w-5 h-8 fill-none" name="fr-flag" />
        </a>
        <a aria-label="Change language to english" href={Astro.url.pathname.replace(lang, 'en')}>
            <Icon class="w-5 h-8 fill-none" name="en-flag" />
        </a>
    </div>
</div>