---
import type { HTMLAttributes } from 'astro/types';

interface Props {
    href: HTMLAttributes<'a'>['href'];
    target?: HTMLAttributes<'a'>['target'];
}
const { href, target } = Astro.props as Props;
---

<li class="hover:text-sky-400 transition-colors">
    <a href={href} target={target}>
        <slot />
    </a>
</li>